fastapi==0.115.6
uvicorn[standard]==0.34.0
pydantic==2.10.6
pydantic-settings==2.13.1
python-dotenv==1.0.1

langchain==1.2.4
langchain-core==1.2.14
langchain-openai==1.1.10
langchain-community==0.4.1
langgraph==1.0.9
langchain-tavily==0.2.17

structlog==24.1.0
pyfiglet==1.0.4
